./BotClient/*.iml
./BotClient/.gradle
./BotClient/local.properties
./BotClient/.idea/caches
./BotClient/.idea/libraries
./BotClient/.idea/modules.xml
./BotClient/.idea/workspace.xml
./BotClient/.idea/navEditor.xml
./BotClient/.idea/assetWizardSettings.xml
./BotClient/.DS_Store
./BotClient/build
./BotClient/captures
./BotClient/.externalNativeBuild
./BotClient/.cxx

./BotServer/*.iml
./BotServer/.gradle
./BotServer/local.properties
./BotServer/.idea/caches
./BotServer/.idea/libraries
./BotServer/.idea/modules.xml
./BotServer/.idea/workspace.xml
./BotServer/.idea/navEditor.xml
./BotServer/.idea/assetWizardSettings.xml
./BotServer/.DS_Store
./BotServer/build
./BotServer/captures
./BotServer/.externalNativeBuild
./BotServer/.cxx

.DS_Store
