<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.barabu.server">

    <application>
        <service
            android:name=".BotService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.barabu.server.BotService" />
            </intent-filter>
        </service>
    </application>

</manifest>